@import "../../styles/_config";

.area,
.property {
	.image {
		width: 9rem;
		border: 2px solid gray;
		display: flex;
		border-radius: 0.5rem;
		height: 6rem;
		overflow: hidden;

		.Img {
			object-fit: cover;
			width: 100%;
		}
	}

	.name {
		font-weight: 700;
		font-size: 1.1rem;
		margin: 0.25rem 0;
	}
}

.property {
	.rating {
		display: flex;
		gap: 0.25rem;
	}

	.price {
		height: 1.25rem;
		display: flex;
		align-items: center;
	}
}

@media (max-width: 50rem) {
	.area,
	.property {
		.image.unset {
			width: unset;
			height: unset;
		}
	}
}

@media (min-width: 50rem) {
	.area,
	.property {
		display: flex;

		.image {
			width: 12.5rem;
			height: 8rem;
		}

		.info {
			padding-left: 0.5rem;
			font-size: 1.25rem;
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			.name {
				font-size: 1.75rem;
			}
		}
	}
}
