@import "../../styles/_config";

.header {
	background-color: $primary-color;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;

	.navbar {
		height: 3.75rem;
		display: flex;
		justify-content: space-between;
		display: flex;
		align-items: center;
		@include container;

		.logo {
			font-size: 1.5rem;
			font-weight: bold;
			color: #fff;
			font-family: Comfortaa;
		}
	}
}
